<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".FuuApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FUUPlugins"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".service.PluginDownloadService"
            android:enabled="false"
            android:exported="true" />

        <activity
            android:name=".activity.networkPluginActivity.NetworkPluginActivity"
            android:exported="false"
            android:label="@string/title_activity_network_plugin"
            android:theme="@style/Theme.FUUPlugins" />
        <activity
            android:name=".activity.settingActivity.SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.FUUPlugins" />
        <activity
            android:name=".activity.composePluginActivity.ComposePluginActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_plugin"
            android:theme="@style/Theme.FUUPlugins" />
        <activity
            android:name=".activity.markDownActivity.MarkdownActivity"
            android:exported="false"
            android:label="@string/title_activity_markdown_plugin"
            android:theme="@style/Theme.FUUPlugins" />
        <activity
            android:name=".activity.mainActivity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FUUPlugins">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".weight.CourseWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- 小部件配置信息 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/course_weight_info" />
        </receiver>
        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="false"> <!-- 设置 android:exported="false" 以限制广播接收器只在您的应用程序内部可用 -->

            <!-- 定义意图过滤器，指定广播接收器要处理的操作（action） -->
            <intent-filter>
                <action android:name="com.example.myapp.ACTION_MY_BROADCAST" />
                <!-- 添加其他操作（action），如果需要 -->
            </intent-filter>
        </receiver>
    </application>

</manifest>